<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Datamodel</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery.treemenu.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="loginBox inline">
          <input class="form-control inline input-sm custom-size" id="loginName" type="text" placeholder="Username">
          <button type="button" class="btn btn-default btn-sm" onclick="req(11)">Login</button>
        </div>      
      </div>
    </div>
  </div>
  <!-- left side -->
  <div class="container-left col-lg-9 col-md-8 col-sm-8">
    <div id="main-tree">
      <ul class="tree">
        <li>
          <a class="cursor" onclick="query(7, '', this)">Organize</a>
          <ul id="orgHead">

          </ul>
        </li>
      </ul>
    </div>
    <!-- query & clone display -->
    <div class="separateDisplay">
      <ul class="tree" id="querydisplay"></ul>
    </div>
  </div>
  <!-- right side -->
  <div class="container-right col-lg-3 col-md-4 col-sm-4">
    <!-- create container -->
    <div class="createBox">
      <h4>Create data</h4>
      <select id="createType" onchange="createUI(this)">
        <option selected disabled>Choose type</option>
        <option value="org">Organize</option>
        <option value="user">User</option>
        <option value="category">Category</option>
        <option value="state">State</option>
        <option value="task">Task</option>
        <option value="subtask">Subtask</option>
        <option disabled>------------------</option>
        <option value="task2">TaskfromCat</option>
        <option value="subtask2">SubtaskfromCat</option>
      </select>
      <div class="createForm"></div>
    </div>
    <hr>
    <!-- clone container -->
    <div class="cloneBox">
      <h4>Clone data</h4>
      <input class="form-control inline input-sm custom-size" id="selectId" type="text"placeholder="DataId">
      ->
      <input class="form-control inline input-sm custom-size" id="selectUsername" type="text" placeholder="toUsername">
      <button type="button" class="btn btn-default btn-sm" onclick="req(12)">Send</button>
    </div>
    <hr>
    <!-- query container -->
    <div class="queryBox ">
      <h4>Query data</h4>
      <input class="form-control inline input-sm id-input" id="queryId" type="text" placeholder="DataId">
      <button type="button" class="btn btn-default btn-sm" onclick="req(13)">Query</button>
    </div>
    <hr>
    <!-- delete container -->
    <div class="deleteBox">
      <h4>Delete data</h4>
      <input class="form-control inline input-sm id-input" id="objectId" type="text" placeholder="DataId">
      <input class="form-control inline input-sm id-input" id="deleteUpperId" type="text" placeholder="UpperId">
      <input class="form-control inline input-sm id-input" id="userUpperId" type="text" placeholder="UserId">
      <button type="button" class="btn btn-default btn-sm" onclick="deleteData()">Delete</button>
    </div>
  </div>


  <!-- edit data Modal -->
  <div class="modal fade" id="editData" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Data</h4>
        </div>
        <div class="modal-body">
          <label for="">dataID : <span id="edit-dataId"></span></label>
          <textarea id="edit-dataContent" cols="75" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="req(9)">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/jquery.treemenu.js"></script>
  <script src="js/bootstrap3.3.5.js"></script>
  <script src="js/script.js"></script>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>